<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>查字</title>
    <script type="module">
      import TshetUinh from 'https://cdn.jsdelivr.net/npm/tshet-uinh@0.16.0-beta.2/dist/tshet-uinh.esm.min.js';
      import {
        computed,
        createApp,
        onMounted,
        ref,
      } from 'https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js';
      import Yitizi from 'https://esm.run/yitizi@0.1.2';

      const tupaTable = JSON.parse(await (fetch('tupa.json').then(x => x.text())));

      const ORIGINAL_TITLE = document.title;

      const { 各卷目錄, 各韻目錄, 原書小韻首字, 細分小韻首字 } = (function 建立小韻目錄() {
        /**@type{{ [卷目: string]: string[] }}*/
        const 各卷目錄 = {};
        /**@type{{ [韻目: string]: number[] & { 卷目: string } }}*/
        const 各韻目錄 = {};
        /**@type{any[]}*/
        const 原書小韻首字 = [undefined];
        /**@type{{ [小韻號: string]: any }}*/
        const 細分小韻首字 = {};
        const 首韻所在卷 = { 東: '上平', 先: '下平', 董: '上', 送: '去', 屋: '入' };
        let 卷目;
        let 卷目錄;
        let 韻目;
        let 韻目錄;
        let 原書小韻號 = 0;
        for (const 小韻 of TshetUinh.資料.廣韻.iter原書小韻()) {
          原書小韻號++;
          const { 韻目: 小韻韻目 } = 小韻[0];
          if (小韻韻目 !== 韻目) {
            if (小韻韻目 in 首韻所在卷) {
              卷目 = 首韻所在卷[小韻韻目];
              卷目錄 = [];
              各卷目錄[卷目] = 卷目錄;
            }
            韻目 = 小韻韻目;
            卷目錄.push(韻目);
            韻目錄 = [];
            韻目錄.卷目 = 卷目;
            各韻目錄[韻目] = 韻目錄;
          }
          韻目錄.push(原書小韻號);
          原書小韻首字.push(小韻[0]);
          if (小韻[0].小韻號 !== String(原書小韻號)) {
            for (const 條目 of 小韻) {
              if (!(條目.小韻號 in 細分小韻首字)) {
                細分小韻首字[條目.小韻號] = 條目;
              }
            }
          }
        }
        return { 各卷目錄, 各韻目錄, 原書小韻首字, 細分小韻首字 };
      })();

      function keyForEntry(條目) {
        return `${條目.來源}/${條目.小韻號}/${條目.小韻字號}`;
      }
      function hrefFor小韻(原書小韻號) {
        return '?' + new URLSearchParams([['q', `@${原書小韻號}`]]).toString();
      }
      function compareEntryOrder(條目1, 條目2) {
        if (條目1.來源 !== 條目2.來源) {
          return 條目1.來源 < 條目2.來源 ? -1 : 1;
        }
        const 原書小韻號1 = Number(條目1.小韻號.replace(/[a-z]$/, ''));
        const 原書小韻號2 = Number(條目2.小韻號.replace(/[a-z]$/, ''));
        if (原書小韻號1 !== 原書小韻號2) {
          return 原書小韻號1 - 原書小韻號2;
        }
        const pattern小韻字號 = /^(\d+)(?:a(\d+))?$/;
        const [原書字號1, 增字號1] = pattern小韻字號.exec(條目1.小韻字號).slice(1).map(Number);
        const [原書字號2, 增字號2] = pattern小韻字號.exec(條目2.小韻字號).slice(1).map(Number);
        return 原書字號1 !== 原書字號2 ? 原書字號1 - 原書字號2 : 增字號1 - 增字號2;
      }

      const ResultEntry = {
        emits: ['query'],
        props: { 條目: { required: true }, clickable小韻號: { type: Boolean, default: false } },
        computed: {
          showDebug: () => false,
          tupa() {
            return tupaTable[this.條目.音韻地位.描述];
          },
          原書小韻號() {
            return this.條目.小韻號.replace(/[a-z]$/, '');
          },
          小韻首字() {
            const 原書首字 = 原書小韻首字[this.原書小韻號]?.字頭校正() ?? '';
            const 細分首字 = 細分小韻首字[this.條目.小韻號]?.字頭校正();
            return 原書首字 + (細分首字 ? `（${細分首字}）` : '');
          },
        },
        methods: {
          hrefFor小韻,
        },
        template: '#template-result-entry',
      };

      const RhymeList = {
        emits: ['query'],
        setup(_props, { expose }) {
          const selected卷目 = ref(null);
          const selected韻目 = ref(null);
          const selected原書小韻號 = ref(null);

          const 卷選單 = computed(() =>
            Object.entries(各卷目錄).map(([卷目, [首韻]]) => ({
              卷目,
              原書小韻號: 各韻目錄[首韻][0],
              isCurrent: 卷目 === selected卷目.value,
            }))
          );
          const 韻選單 = computed(() =>
            各卷目錄[selected卷目.value]?.map(韻目 => ({
              韻目,
              原書小韻號: 各韻目錄[韻目][0],
              isCurrent: 韻目 === selected韻目.value,
            }))
          );
          const 小韻選單 = computed(() =>
            各韻目錄[selected韻目.value]?.map((原書小韻號) => ({
              首字: 原書小韻首字[原書小韻號].字頭校正(),
              原書小韻號,
              isCurrent: 原書小韻號 === selected原書小韻號.value,
            }))
          );

          function select(原書小韻號) {
            const 條目 = 原書小韻首字[原書小韻號];
            selected原書小韻號.value = 條目 ? 原書小韻號 : null;
            selected韻目.value = 條目 ? 條目.韻目 : null;
            selected卷目.value = 條目 ? 各韻目錄[條目.韻目].卷目 : null;
          }

          expose({ select });

          return {
            selected卷目,
            selected韻目,
            selected原書小韻號,
            卷選單,
            韻選單,
            小韻選單,
            hrefFor小韻,
          };
        },
        template: '#template-rhyme-list',
      };

      const App = {
        components: {
          ResultEntry,
          RhymeList,
        },
        setup() {
          const DEFAULT_QUERY_VARIANTS = 'yes';

          const input = ref('');
          const variantOption = ref(DEFAULT_QUERY_VARIANTS);

          const activeQuery = ref('');
          const result = ref([]);

          const clickable小韻號 = computed(() => !activeQuery.value.startsWith('@'));

          const rhymeList = ref(null);

          function expandAndSortEntries(各條目) {
            const unique = new Map();
            for (const 條目 of 各條目) {
              const expanded = 條目.釋義上下文
                ? 條目.釋義上下文.map(上下文條目 =>
                  Object.assign(Object.create(Object.getPrototypeOf(條目)), 條目, 上下文條目)
                )
                : [條目];
              for (const 展開條目 of expanded) {
                const key = keyForEntry(展開條目);
                if (!unique.has(key)) {
                  unique.set(key, 展開條目);
                }
              }
            }
            return [...unique.values()].sort(compareEntryOrder);
          }

          function doQuery(query, queryVariants, noHistory = false) {
            query = query || input.value;
            const is小韻號 = query.startsWith('@');

            if (is小韻號) {
              queryVariants = 'ignore';
            } else {
              queryVariants = queryVariants || variantOption.value;
            }
            if (!['yes', 'fallback', 'no', 'ignore'].includes(queryVariants)) {
              queryVariants = DEFAULT_QUERY_VARIANTS;
            }

            input.value = query;
            if (queryVariants !== 'ignore') {
              variantOption.value = queryVariants;
            }

            const urlOld = new URL(location);
            urlOld.searchParams.delete('var');
            const url = new URL(location);
            url.search = '';
            if (query) {
              url.searchParams.set('q', query);
            }
            const urlMatch = url.toString() === urlOld.toString();
            if (queryVariants !== 'ignore' && queryVariants !== DEFAULT_QUERY_VARIANTS) {
              url.searchParams.set('var', queryVariants);
            }
            if (noHistory || urlMatch) {
              history.replaceState(null, '', url);
            } else {
              history.pushState(null, '', url);
            }
            document.title = (query ? `${query} - ` : '') + ORIGINAL_TITLE;

            activeQuery.value = query;

            if (is小韻號) {
              const 原書小韻號 = Number(query.slice(1));
              rhymeList.value.select(原書小韻號);
              result.value = TshetUinh.資料.廣韻.get原書小韻(原書小韻號) ?? [];
              if (result.value.length) {
                document.title = `${原書小韻號} ${result.value[0].字頭校正()}小韻 - ${ORIGINAL_TITLE}`;
              }
            } else {
              rhymeList.value.select(null);
              let rawResult = TshetUinh.資料.query字頭(query);
              if (queryVariants === 'yes' || (queryVariants === 'fallback' && !rawResult.length)) {
                for (const 字 of Yitizi.get(query)) {
                  rawResult.push(...TshetUinh.資料.query字頭(字));
                }
              }
              result.value = expandAndSortEntries(rawResult);
            }
          }

          onMounted(() => {
            const queryFromUrl = () => {
              const url = new URL(location);
              doQuery(url.searchParams.get('q') ?? '', url.searchParams.get('var') || '', true);
            };
            window.addEventListener('popstate', queryFromUrl);
            queryFromUrl();
          });

          return {
            input,
            variantOption,
            activeQuery,
            result,
            clickable小韻號,
            rhymeList,
            doQuery,
            keyForEntry,
          };
        },
        template: '#template-app',
      };

      createApp(App).mount('#app');
    </script>

    <template id="template-app">
      <h1>查字<span class="beta-note">測試版</span></h1>
      <form @submit.prevent="doQuery()">
        <input
          type="text"
          class="query"
          placeholder="輸入要查的單字"
          v-model.trim="input"
          @focus="$event.target.select()"
        />
        <input type="submit" value="檢索" />
        <label>
          檢索異體字：<select v-model="variantOption" @change="doQuery()">
            <option value="no">不檢索異體字</option>
            <option value="fallback">僅原字無檢索結果時檢索異體字</option>
            <option value="yes">檢索異體字</option>
          </select>
        </label>
      </form>
      <rhyme-list ref="rhymeList" @query="doQuery"></rhyme-list>
      <p v-if="!activeQuery">（請輸入要查的字並點擊「檢索」，或點擊《廣韻》卷目以瀏覽）</p>
      <p v-else-if="result.length">檢索結果（{{result.length}} 筆）：</p>
      <p v-else>（無檢索結果）</p>
      <ul>
        <li v-for="條目 in result" :key="keyForEntry(條目)">
          <result-entry :條目 :clickable小韻號 @query="doQuery"></result-entry>
        </li>
      </ul>
    </template>

    <template id="template-rhyme-list">
      <div class="rhyme-list">
        <p>
          瀏覽《廣韻》：<a
            v-for="{ 卷目, 原書小韻號, isCurrent } in 卷選單"
            :class="{ current: isCurrent }"
            :href="isCurrent ? null : hrefFor小韻(原書小韻號)"
            @click.prevent="isCurrent || $emit('query', `@${原書小韻號}`)"
          >{{ 卷目 }}</a>
        </p>
        <p v-if="韻選單">
          韻目：<a
            v-for="{ 韻目, 原書小韻號, isCurrent } in 韻選單"
            :class="{ current: isCurrent }"
            :href="isCurrent ? null : hrefFor小韻(原書小韻號)"
            @click.prevent="isCurrent || $emit('query', `@${原書小韻號}`)"
          >{{ 韻目 }}</a>
        </p>
        <p v-if="小韻選單">
          小韻：<a
            v-for="{ 首字, 原書小韻號, isCurrent } in 小韻選單"
            :class="{ current: isCurrent }"
            :href="isCurrent ? null : hrefFor小韻(原書小韻號)"
            @click.prevent="isCurrent || $emit('query', `@${原書小韻號}`)"
          >{{ 首字 }}</a>
        </p>
      </div>
    </template>

    <template id="template-result-entry">
      <article class="result-item">
        <p>
          <span class="headword">{{ 條目.字頭 }}</span>
          <span class="pronunciation position">{{ 條目.音韻地位.描述 }}</span>
          <span class="pronunciation tupa">{{ tupa }}</span>
          <span v-if="條目.反切" class="pronunciation fanqie"
          >{{ 條目.反切 ? (條目.反切 + (條目.來源 === '廣韻' ? '切': '反')) : ''}}</span>
          <span v-if="條目.直音" class="pronunciation zhiyin">音{{ 條目.直音 }}</span>
        </p>
        <p v-if="條目.字頭說明" class="headword-note">{{ 條目.字頭說明 }}</p>
        <p v-if="條目.釋義" class="note">{{ 條目.釋義 }}</p>
        <p class="cite">
          <a
            v-if="條目.來源 === '廣韻'"
            :href="clickable小韻號 ? hrefFor小韻(原書小韻號) : null"
            @click.prevent="$emit('query', `@${原書小韻號}`)"
          >{{條目.來源}} {{條目.韻目}}韻 {{條目.小韻號}} {{小韻首字}}小韻
          </a>
          <template v-else>{{條目.來源}} {{條目.韻目}}韻 {{條目.小韻號}}小韻</template>
        </p>
        <p v-if="showDebug" style="color: darkgray">{{ clickable小韻號 }}; {{ 條目 }}</p>
      </article>
    </template>

    <style>
      a:link, a:visited {
        color: #4477cc;
        text-decoration: none;
      }

      .beta-note {
        font-size: 40%;
      }

      input.query {
        width: 8rem;
      }

      .rhyme-list a {
        padding: 0 0.125rem;
      }
      .rhyme-list a.current {
        font-weight: 600;
      }

      .result-item {
        padding: 0.7rem 0;
      }
      .result-item p {
        margin: 0.3rem 0;
      }
      .result-item .headword {
        font-size: 2rem;
        line-height: 0;
        margin-right: 0.5rem;
      }
      .result-item .headword-note {
        font-size: 0.75rem;
      }
      .result-item .pronunciation {
        margin-left: 0.5rem;
      }
      .tupa {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>載入中……</p>
      <p>（首次啟動可能需要一點時間，之後的啟動會快一些）</p>
      <noscript>※ 您需要啟用 JavaScript 以使用本頁面</noscript>
    </div>
  </body>
</html>
