<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Qieyun</title>
    <script type="module">
      import TshetUinh from 'https://cdn.jsdelivr.net/npm/tshet-uinh@0.16.0-beta.2/dist/tshet-uinh.esm.min.js';
      import {
        computed,
        createApp,
        onMounted,
        ref,
      } from 'https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js';

      const tupaTable = JSON.parse(await (fetch('tupa.json').then(x => x.text())));

      function keyForEntry(條目) {
        return `${條目.來源}/${條目.小韻號}/${條目.小韻字號}`;
      }

      const Entry = {
        props: ['條目'],
        // setup(props) {},
        computed: {
          showDebug() {
            return false;
          },
          tupaTable() {
            return tupaTable;
          },
        },
        template: '#template-entry',
      };

      const App = {
        components: {
          Entry,
        },
        setup() {
          const input = ref('');
          const result = ref([]);

          function doQuery(query, fromUrl = false) {
            query = query ?? input.value;

            input.value = query;
            const url = new URL(location);
            url.search = '';
            if (query) {
              url.searchParams.set('q', query);
            }
            if (fromUrl) {
              history.replaceState(null, '', url);
            } else {
              history.pushState(null, '', url);
            }

            const rawResult = TshetUinh.資料.query字頭(query);
            const expanded = [];
            const seen = new Set();
            for (const 條目 of rawResult) {
              const key = keyForEntry(條目);
              if (seen.has(key)) {
                continue;
              }
              if (!條目.釋義上下文) {
                expanded.push(條目);
                continue;
              }
              for (const 上下文條目 of 條目.釋義上下文) {
                const 展開條目 = Object.assign(Object.create(Object.getPrototypeOf(條目)), 條目, 上下文條目);
                seen.add(keyForEntry(展開條目));
                expanded.push(展開條目);
              }
            }
            result.value = expanded;
          }

          onMounted(() => {
            const queryFromUrl = () => {
              const url = new URL(location);
              doQuery(url.searchParams.get('q') ?? '', true);
            };
            window.addEventListener('popstate', queryFromUrl);
            queryFromUrl();
          });

          return {
            input,
            result,
            doQuery,
            keyForEntry,
          };
        },
        template: '#template-app',
      };

      createApp(App).mount('#app');
    </script>

    <template id="template-app">
      <form @submit.prevent="doQuery()">
        <input type="text" v-model.trim="input" />
        <input type="submit" value="查詢" />
      </form>
      <ul>
        <li v-for="條目 in result" :key="keyForEntry(條目)">
          <entry :條目="條目"></entry>
        </li>
      </ul>
    </template>

    <template id="template-entry">
      <article class="result-item">
        <p>
          <span class="headword">{{ 條目.字頭 }}</span>
          <span class="pronunciation position">{{ 條目.音韻地位.描述 }}</span>
          <span class="pronunciation tupa">{{ tupaTable[條目.音韻地位.描述] }}</span>
          <span v-if="條目.反切" class="pronunciation fanqie"
          >{{ 條目.反切 ? (條目.反切 + (條目.來源 === '廣韻' ? '切': '反')) : ''}}</span>
          <span v-if="條目.直音" class="pronunciation zhiyin">音{{ 條目.直音 }}</span>
        </p>
        <p v-if="條目.字頭說明" class="headword-note">{{ 條目.字頭說明 }}</p>
        <p v-if="條目.釋義" class="note">{{ 條目.釋義 }}</p>
        <p class="cite">
          {{條目.來源}} {{條目.韻目}}韻
        </p>
        <p v-if="showDebug" style="color: darkgray">{{ 條目 }}</p>
      </article>
    </template>

    <style>
      .result-item {
        padding: 1em 0;
      }
      .result-item p {
        margin: 0.3em 0;
      }
      .result-item .headword {
        font-size: 2rem;
        line-height: 0;
        margin-right: 0.5rem;
      }
      .result-item .headword-note {
        font-size: 0.75rem;
      }
      .result-item .pronunciation {
        margin-left: 0.5rem;
      }
      .tupa {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div>載入中……</div>
    </div>
  </body>
</html>
